#root {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.header{

}

.mainContent{
   
}

.formContainer {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

label {
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    gap: 1em;

}

.footer{

}




